<module:head>
  <link rel="stylesheet" type="text/css" href="/artists/artists.css">
  <script type="text/javascript" src="/artists/artists.js"></script>
</module:head>

<div class="artist-container" id="artists">
  <div class="artist-icons">
    <% about_members.members.forEach(function (member, index) { %>
      <div class="artist-icon" style="background-image: url(<%- member.picture %>)" data-artist-index="<%- index %>" id="artist-icon-<%- index %>"></div>
    <% }) %>
  </div>
  <% about_members.members.forEach(function (member, index) { %>
    <div class="artist" id="artist-<%- index %>">
      <!-- <h4><%= member.name %></h4> -->
      <p><%- member.description %></p>
    </div>
  <% }) %>
</div>
