@import "variables";

.artist-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 100%;
  align-items: start;
  grid-gap: 2rem;
}

.artist.active {
  opacity: 1;
  pointer-events: all;
}

.artist {
  pointer-events: none;
  opacity: 0;
  grid-row: 1;
  grid-column: 2;

  transition: opacity .5s linear;

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.artist-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;

  .artist-icon {
    width: 10rem;
    height: 10rem;

    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
