@import 'variables';

nav {
  position: fixed;
  left: calc(53vw + (#{$page-width} / 2));
  top: 30%;
  z-index: 1000;
  opacity: 0;
  transition: opacity .3s ease-out;

  &.active {
    opacity: 1;
  }

  ul {
    text-align: right;
    list-style: none;
    padding: 0 2rem;

    li {
      color: black;
      margin: 1rem 0;
      font-family: $header-font;
      cursor: pointer;

      &.active {
        font-weight: bold;
      }

      &::after {
        content: "\2022";
        margin-left: 1rem;
      }
    }
  }
}

@media print {
  nav {
    display: none;
  }
}
