<!DOCTYPE html>
<html>
  <head>
    <title><%= meta.title %></title>
    <link rel="shortcut icon" type="image/png" href="<%= meta.icon %>">
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=block" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=block" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <main>
      <module>navigation/navigation.html</module>
      <div class="full section" id="header">
        <img src="<%= header.logo %>" alt="Logo">
        <h1><%= header.title %></h1>
        <button class="down-arrow" data-navigate-to="second-section"></button>
      </div>
      <div class="full section" id="second-section">
        <div class="page">
          <h2><%= about_band.title %></h2>
          <p><%- parseBody(about_band.body) %></p>
          <p class="quote"><span><%- about_band.body_short %></span></p>
          <module>artists/artists.html</module>
        </div>
      </div>
      <div class="full section">
        <div class="page">
          <h2><%= about_music.title %></h2>
          <p><%- parseBody(about_music.body) %></p>
        </div>
      </div>
      <div class="full section">
        <div class="page">
          <module>header-video/header-video.html</module>
        </div>
      </div>
    </main>
  </body>
</html>
