<!DOCTYPE html>
<html>
  <head>
    <title><%= meta.title %></title>
    <link rel="shortcut icon" type="image/png" href="<%= meta.icon %>">
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=block" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=block" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v6.0"></script>
    <main>
      <module>navigation/navigation.html</module>
      <div class="header">
        <img src="<%= header.logo %>" alt="Logo">
        <h1><%= header.title %></h1>
        <button class="down-arrow" data-navigate-to="second-section"></button>
      </div>
      <div class="full section" id="second-section">
        <div class="page">
          <h2><%= about_band.title %></h2>
          <p><%- parseBody(about_band.body) %></p>
          <p class="quote"><span><%- about_band.body_short %></span></p>
          <module>artists/artists.html</module>
        </div>
      </div>
      <div class="full section">
        <div class="page">
          <h2><%= about_music.title %></h2>
          <p><%- parseBody(about_music.body) %></p>
          <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Z3xXUWUh-zM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="full section screen">
        <div class="page">
          <h2><%= contact.title %></h2>
          <div class="contact-info">
            <div class="fb-widget">
              <div class="fb-page" data-href="https://www.facebook.com/SevenInchOrange/" data-tabs="" data-width="500" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
            </div>
            <div class="center">
              <p><%= contact.contact_title %></p>
            </div>
            <div>
              <p><%= contact.contact_name %></p>
              <p><%= contact.contact_email %></p>
              <p><%= contact.contact_phone %></p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
