@import "variables";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Source Sans pro, sans-serif;

  * {
    z-index: 100;
    box-sizing: border-box;
  }
}

h1, h2, h3, h4 {
  font-family: $header-font;
  color: $primary-color;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 6rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
  margin: 2rem 0;
}

p {
  font-size: 1.8rem;
  line-height: 1.3em;
  text-align: justify;

  & > strong {
    font-family: $header-font;
    color: $primary-color;
  }
}

blockquote {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: $quote-font;
  position: relative;
  padding: 5rem 0;
  margin: 0;
  text-align: center;
  break-after: avoid;
  display: block;

  span {
    position: relative;
  }

  &::before {
    content: "\"";
    position: absolute;
    right: -0.2em;
    top: 0.1em;
    color: $primary-color;
    font-size: 7em;
    line-height: 1em;
    z-index: 0;
  }
}

main {
  display: grid;
  grid-template-columns: 4fr 6fr;

  & .section {
    background-color: white;

    &::before {
      content: "";
      display: block;
      break-after: page;
    }

    & .page {
      width: $page-width;
      margin: 0 auto;
      padding: 10rem 0;
    }

    &.screen {
      min-height: 100vh;
    }
  }

  & .full {
    grid-column: 1 / 3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    bottom: 5rem;
  }
  25% {
    bottom: 4.5rem;
  }
  75% {
    bottom: 5.5rem;
  }
}

.header {
  background-image: linear-gradient(transparent, #000), url(/assets/header-slide-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: calc(50vh + 10rem) 1fr;
  grid-template-columns: 1fr;
  justify-items: center;

  min-height: 100vh;
  grid-column: 1 / 3;

  position: relative;

  & img {
    width: 29rem;
    align-self: end;
  }
  & h1 {
    align-self: start;
  }

  & > .down-arrow {
    background-image: url(/assets/down.svg), linear-gradient($primary-color, $primary-color);
    background-size: 50%, cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 0;
    width: 6rem;
    height: 6rem;
    outline: none;
    cursor: pointer;

    position: absolute;
    bottom: 5rem;
    left: 50%;

    transform: translateX(-50%);

    animation: fadeIn 3s linear, bounce 2s linear infinite;
  }
}

.video {
  margin: 10rem auto 0;
  display: block;
}

.contact-table {
  margin: 0 auto;
  background-color: #e8e8e8;
  padding: 3rem 6rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #aaa;

  td {
    vertical-align: top;

    &:first-child {
      padding-right: 1.5rem;
    }

    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media print {
  blockquote {
    margin: 0 4rem;
  }

  main .section .page {
    padding: 0;
  }

  .video {
    display: none;
  }
}
