html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  * {
    z-index: 100;
    box-sizing: border-box;
  }
}

h1, h2, h3, h4 {
  font-family: Sanchez;
  color: #F47610;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
  line-height: 1.3em;
}

main {
  display: grid;
  grid-template-columns: 4fr 6fr;

  & .section {
    min-height: 100vh;
    background-color: white;

    & .page {
      width: 100rem;
      margin: 0 auto;
      padding: 10rem 0;
    }
  }

  & .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  & .full {
    grid-column: 1 / 3;
  }
}

.artist {
  & .artist-picture {
    width: 100%;
    padding: 2rem 0 2rem 2rem;

    img {
      width: 100%;
    }
  }
}

#slideshow-header {
  background-image: url(/assets/header-slide-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 50;
}

#header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: black;
  box-shadow: 0px 0px 25px 20px black;

  & img {
    width: 30vh;
    align-self: end;
  }
  & h1 {
    align-self: start;
  }
}
